/* Global Styling */
body {
  background-color: grey;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0px;
}

/* Navigation */
.nav-menu {
  align-items: center;
  background-color: lavender;
  color: rebeccapurple;
  display: flex;
  justify-content: space-around;
}

.nav-greeting {
  font-style: italic;
}

/* Main */
.main-content {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.long-card {
  background-color: coral;
  height: 90px;
  margin: 15px;
  width: 900px;
}

.card-container {
  display: flex;
}

.card {
  background-color: darkolivegreen;
  height: 250px;
  margin: 15px;
  width: 250px;
}