/* Global Styling */
body {
  background-color: grey;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0px;
}

/* Navigation */
.nav-menu {
  align-items: center;
  background-color: #343D5B;
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav-users {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-greeting {
  font-size: 14px;
  font-style: italic;
}

.button-design {
  background-color: #9B5863;
  border: 1px solid white;
  border-radius: 8%;
  color: white;
  cursor: not-allowed;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 10px;
  height: 20px;
  margin-left: 10px;
  padding: 3px;
  width: 100px;
}

/* Main */
.main-content {
  background-image: linear-gradient(#343D5B, #81566A, #9D653E);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

/* Trip Bars */
.content {
  display: flex;
  justify-content: space-evenly;
}

.long-card {
  background-color: #9D653E;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 900px;
}

.main-new-trip {
  display: flex;
  justify-content: space-evenly;
}

.new-trip-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  width: 400px;
}

.new-info {
  color: white;
  width: 175px;
}

.input-box {
  width: 175px;
}

.submit-box {
  align-items: center;
}

.total-due {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.submit-button-design {
  background-color: #81566A;
  border: 1px solid white;
  border-radius: 8%;
  color: white;
  cursor: pointer;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 10px;
  height: 20px;
  margin-left: 10px;
  padding: 3px;
  width: 100px;
}

.disable-button {
  background-color: #9B5863;
  cursor: not-allowed;
}

/* Trip Footer */
.bottom-card {
  align-items: center;
  display: flex;
}

.footer-text {
  color: white;
  font-size: 18px;
}

/* Trip Cards */
.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  align-items: center;
  background-color: #81566A;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  width: 275px;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.card-wrap::-webkit-scrollbar {
  display: none;
}

.card-text {
  text-align: left;
  color: white;
  font-style: italic;
}

.info-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
  margin: 8px 0px;
  padding: 4px;
  width: 225px;
}
