/* Global Styling */
body {
  background-color: grey;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin: 0px;
}

/* Navigation */
.nav-menu {
  align-items: center;
  background-color: #343D5B;
  border: 1px solid orange;
  color: goldenrod;
  display: flex;
  justify-content: space-around;
}

.nav-greeting {
  font-style: italic;
}

/* Main */
.main-content {
  background-image: linear-gradient(#343D5B, #81566A, #9D653E);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.long-card {
  background-color: #9D653E;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  height: 150px;
  width: 900px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  align-items: center;
  background-color: #81566A;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 275px;
}

.card-text {
  text-align: left;
  color: goldenrod;
  font-style: italic;
}

.info-card {
  color: gold;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
  width: 225px;
}